@import './_global' ;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Rubik+Bubbles&display=swap');

@mixin card(){
    width: 100%;
    padding: 4rem 0;
}
@mixin grid ($repeat){
    display: grid;
    grid-template-columns:$repeat ;
    gap: 3rem;
    // align-items: center;
}
@mixin title (){
    text-align: center;
    margin-bottom: 1rem;
}
@mixin btn ($bgc, $first, $bgcc, $color){
    padding: 10px 20px;
    background-color: $bgc;
    color: $first;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: all 0.5s linear;
    border: 0;
    &:hover{
        background-color: $bgcc;
        color: $color;
    }
}
html{
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    padding: 2rem 0;
    background-image: url(/img/banner-bg.png);
    background-size: cover;
}
.navigation{
    width: 100%;
    height: 10vh;
    background-color: #fff;
    .navbar{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        .navbar__nav{
            a{
                margin-left: 10px;
                margin-right: 10px;
                font-size: 1.3rem;
                transition: all 0.5s ease;
                &:hover{
                    opacity: 0.3 ;
                }
            }
        }
        .nav__icon{
            i{
                margin-left: 10px;
                margin-right: 10px;
                font-size: 1.3rem;
                transition: all 0.5s ease;
                &:hover{
                    opacity: 0.3 ;
                }
            }
        }
    }
}
.banner{
    width: 100%;
    height: 100%;
    .banner__content{
        @include grid((repeat(2,1fr))) ;
        align-items: center;
        h1{
            font-size: 3.5rem;
            color: #fff;
        }
        p{
            margin-bottom: 1rem;
            color: #fff;
            opacity: 0.5;
        }
        button{
            margin-right: 15px;
            &:first-of-type{
                @include btn(yellow, black, black, yellow);
            }
            &:last-of-type{
                @include btn(black, yellow,yellow, black );
            }
        }
    }
}
.courses{
    @include card();
    .title{
        @include title();
        h2{
            font-size: 2rem;
            span{
                opacity: 0.5;
            }
        }
    }
}
.courses__content{
    @include grid(repeat(2,1fr));
    align-items: center;
    .img{
        position: relative;
        cursor: pointer;
        .img__hover{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.8);
            top: 0;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: all 0.5s ease;
            &:hover{
                opacity: 1;
            }
        }
    }
}
.about{
    @include card();
    .title{
        @include title();
        h2{
            font-size: 2rem;
        }
        p{
            opacity: 0.7;
        }
    }
}
.about__content{
    @include grid(repeat(2,1fr));
    align-items: center;
    .item{
        border: 1px solid red;
        padding: 1rem;
        span,p,h3{
            opacity: 0.8;
        }
        h3{
            margin-top: 1rem;
        }
        h2{
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    }
    .item__img{
        position: relative;
        i{
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 0;
            font-size: 2rem;
            background-color: orange;
            color: #fff;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
        }
    }
}
.blog{
    @include card();
    .title{
        @include title();
        h2{
            font-size: 2rem;
        }
    }
    button{
        @include btn(green, #fff, red, #000);
        margin-top: 1rem;    
    }
}
.blog__content{
    @include grid(repeat(2,1fr));
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    p{
        opacity: 0.8;
    }
}
.testimonial{
    @include card();
    background-color: #000;
    color: #fff;
    .title{
        @include title();
        h2{
            font-size: 2rem;
            display: inline;
            border-bottom: 1px solid white;
        }
    }
}
.testimonial__content{
    @include grid(20% 80%);
    align-items: center;
    h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
.casting{
    @include card();
    .title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        h2{
            font-size: 2rem ;
        }
        button{
            @include btn(black, white, orange, red);
            height: 40px;
        }
    }
}
.map{
    width: 100%;
    height: 100vh;
}
.map__content{
   @include grid(repeat(2,1fr));
    gap: 0;
.item{
    position: relative;
    h2{
        width: 20%;
        text-align: center;
        position: absolute;
        transform: translate(-50% -50%);
        top: 20%;
        left: 30%;
        color: #fff;
        font-size: 1.9rem;
    }
    img{
        filter: brightness(40%);
    }
}
.map__item{
    iframe{
        width: 100%;
        height: 100%;
    }
}
}
.footer{
    @include card();
    background-color: #2b2b2b;
    color: #fff;
    a{
        color: #fff;
    }
        
        form{
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
            input{
                width: 85%;
                height: 7vh;
                font-size: 1.3rem;
                border-radius: 30px;
                text-indent: 10px;
                border: 0;
                outline: 0;
            }
            button{
                @include btn(black, white, red, black);
                margin-bottom: 1rem;
            }
        }
    
}
.footer__content{
    @include grid(repeat(4,1fr));
    align-items: center;
    .item{
        border-right: 1px solid white;
        &:last-of-type{
            border-right: none;
        }
        a{
            display: block;
            margin-bottom: 1rem;
            img{
                margin-right: 10px; 
                width: 20px;
                height: 20px;
                display: inline;
            }
        }
        p{
            width: 50%;
        }
    }
}
.copy{
    width: 100%;
    padding: 1rem;
    text-align: center;
}